<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Home / Cari Résto</title>
</head>
<body>
  <header id="header">
    <div class="menu-button-container">
      <button class="material-icons menu-button open-nav-button">menu</button>
    </div>
    <div class="brand-container">
      <h1 class="brand-name">Cari Résto / Home</h1>
    </div>
  </header>

  <section id="sidenav-mobile" class="sidenav-mobile">
    <nav class="sidenav-wrapper">
      <a href="#home" class="sidenav-link">
        <span class="material-icons">home</span>
        <span class="sidenav-link-name">Home</span>
      </a>
      <a href="#restaurants" class="sidenav-link">
        <span class="material-icons">library_books</span>
        <span class="sidenav-link-name">Résto</span>
      </a>
      <a href="#favorite" class="sidenav-link">
        <span class="material-icons">favorite</span>
        <span class="sidenav-link-name">Favorite</span>
      </a>
      <a href="https://linkedin.com/in/ilhammrg" class="sidenav-link" target="_blank" rel="noreferrer">
        <span class="material-icons">insert_link</span>
        <span class="sidenav-link-name">About Us</span>
      </a>
    </nav>
  </section>

  <main id="mainContent"></main>

  <footer></footer>

  <section id="bottom-nav">
      <nav class="bottom-nav-wrapper">
        <a href="#home" class="material-icons bottom-nav-button">home</a>
        <a href="#restaurants" class="material-icons bottom-nav-button">library_books</a>
        <a href="#favorite" class="material-icons bottom-nav-button">favorite</a>
      </nav>
  </section>
</body>
</html>