$accent-primary-color: #03dac5;
$primary-color: #2d696b;
$primary-dark-color: #212121;
$secondary-dark-color: #313131;
$tertiary-dark-color: #515151;
$primary-light-color: #f5f5f5;
$secondary-color: #0072b1;
$black-custom-color: #1c1e21;
$foreground-color: #F2F3F5;
$transition-standard: 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

@media screen and (min-width: 768px) {

  /*
    Top Navbar
  */

  header {
    justify-content: space-between;

    .brand-container {
      width: fit-content;
      padding-left: 1rem;

        .brand-name {
            font-size: 1.3rem;
        }
    } 

    .menu-button-container {
      display: none;
    }

    .topnav-container {
      display: flex;

      &:hover {
        .topnav-link {
          color: #aaa;
        }
      }

      .topnav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primary-light-color;
        padding: 1rem 1.2rem;
        border: none;
  
        &:hover {
          cursor: pointer;
          color: $accent-primary-color;
        }
  
        .material-icons {
          font-size: 1.2rem;
        }
      }

      .topnav-link.active-nav {
        border-bottom: 4px solid white;
      }
    }
  }


  /*
    Sidenav Mobile
  */

  .sidenav-mobile {
    display: none;
  }


  /*
    Loading indicator
  */

  .loading-holder {
    grid-column: 2 / 3;
  }


  /*
    Main Content
  */

  #mainContent {
    min-height: 93vh;
    position: relative;
  }

  .home-wrapper, 
  .restaurant-catalogue-wrapper, 
  .favorite-wrapper, 
  .restaurant-detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }


  /*
    Sidenav Desktop
  */

  .sidenav-desktop-container {
    .sidenav-desktop-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      margin-left: 5px;
      position: fixed;
      z-index: 2;
      top: 50px;
      left: 0;
      width: 180px;

      .sidenav-desktop-title {
        padding: 10px 0 10px 15px;
        color: $tertiary-dark-color;
        font-weight: 600;
      }
  
      .sidenav-desktop-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $secondary-dark-color;
        padding: 15px;
        border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
        
        &:hover {
          color: $primary-dark-color;
          background-color: #ddd;
        }
  
        .sidenav-desktop-link-name {
          margin-left: 20px;
        }
      }
    }
  }


  /*
    Hero Section
  */

  .hero-wrapper {
    grid-column: 2 / 3;
    height: 320px;

    .hero-overlay {
      .hero-text-wrapper {
        .hero-text {
          font-size: 1.5rem;
        }

        .hero-title {
          font-size: 1.8rem;
        }
      }
    }
  }

  .home-fav-section {
    grid-column-start: 2;
  }


  /*
    Restaurant Section
  */

  .restaurant-section {
    grid-column: 2 / 3;

    .restaurant-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .section-navigate-link {
      margin: 10px 0;
    }
  }


  /*
    Restaurant Detail
  */

  .restaurant-detail-content {
    grid-column: 2 / 3;
    margin-top: 20px;
    padding: 0 20px;

    .restaurant-header {
      .restaurant-image {
        height: auto;
      }
    }

    .restaurant-reviews-container {
      .review-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .review-date {
          text-align: right;
        }

        .review-content {
          grid-column: 1 / 3;
        }
      }
    }

    .review-form {
      .form-submit-button {
        grid-column: 3 / 4;
      }
    }
  }


  /*
    Card
  */

  .card-wrapper {
    width: auto;
    margin: 0 16px 16px 0;

    .card-content {
      .card-description {
        height: 70px;
        overflow: hidden;
      }
    }
  }


  /*
    Bottom Navbar Mobile
  */

  #bottom-nav {
    display: none;
  }


  /*
    Footer Desktop
  */

  footer {
    background-color: $foreground-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ddd;
    
    .footer-text {
      color: $primary-dark-color;
      font-size: 0.9rem;
    }  

    .footer-title {
      font-family: 'Permanent Marker', cursive;
      font-size: 1.1rem;
    }

    .footer-link {
      color: $primary-dark-color;

      &:hover {
        color: $accent-primary-color;
      }
    }
  }


  /*
    Offline indicator
  */
  .offline-indicator-container {
    grid-column: 2 / 3;
  }


  /*
    Empty favorite button
  */
  .empty-favorite-button {
    bottom: 5%;
    right: 5%;
  }
}