$primary-color: #fec840;
$transition-standard: 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background: $primary-color;
  color: white;
}
::-moz-selection {
  background: $primary-color;
  color: white;
}

.material-icons, 
.brand-name,
a, 
button {
  user-select: none;
  -webkit-user-select: none;
}

/*
    Top Navbar
*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  
  .brand-container {
    width: 100%;

      .brand-name {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-weight: 600;
      }
  }

  .menu-button-container {
      display: flex;
      align-items: center;

      .menu-button {
          font-size: 2rem;
          color: white;
          background-color: $primary-color;
          border: none;
          transition: $transition-standard;
          padding: 0.5rem;

          &:hover {
              cursor: pointer;
              background-color: rgba(0,0,0,0.1);
          }
      }
  }

  .topnav-container {
    display: none;
  }
}


/*
    Sidenav Mobile
*/

.sidenav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 60%;
  background-color: $primary-color;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  transform: translate(-100%, 0);

  .sidenav-wrapper {
    display: flex;
    flex-direction: column;

    .sidenav-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      padding: 0.5rem 1.5rem;
      transition: $transition-standard;

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
      }

      .material-icons {
        font-size: 2rem;
      }

      .sidenav-link-name {
        font-weight: 400;
        font-size: 1.1rem;
        margin-left: 15px;
      }
    }
  }

  .sidenav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem;
    font-size: 0.9rem;
  }
}

.open {
  transform: translate(0, 0);
}


/*
    Sidenav Desktop
*/

.sidenav-desktop-wrapper {
  display: none;
}


/*
    Bottom Navbar Mobile
*/

#bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  box-shadow: 0 -1.5px 8px rgba(0, 0, 0, 0.2);

  .bottom-nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .bottom-nav-button {
      font-size: 2rem;
      color: white;
      text-align: center;
      text-decoration: none;
      transition: $transition-standard;
      padding: 0.5rem;
      width: 100%;

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}


/*
    Footer Desktop
*/

footer {
  display: none;
}


/*
    Loading indicator
*/

.loading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

  .loading-text {
    font-size: 1rem;
  }
}


/*
    Main Content
*/

#mainContent {
  margin-top: 45px;
}

.home-wrapper, 
.restaurant-catalogue-wrapper, 
.favorite-wrapper, 
.restaurant-detail-wrapper {
  padding-bottom: 5rem;
  margin: auto;
}


/*
    Hero Section
*/

.hero-wrapper {
  .hero-image {
    background-size: cover;
    width: 100%;
    height: 200px;

    .hero-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hero-text-wrapper {
        width: fit-content;

        .hero-text {
          display: block;
          text-align: center;
          color: white;
          user-select: none;
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
  }
}


/*
    Restaurant Section
*/

.restaurant-section {
  .section-navigate-link {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 18px;
    color: black;
    width: fit-content;
    height: 44px;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    .section-navigate-icon {
      width: 10px;
    }

    .section-title {
      text-align: center;
      font-weight: 400;
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
  

  .restaurant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/*
    Card
*/

.card-wrapper {
  width: 85%;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;

  .card-image {
    width: 100%;
    user-select: none;
  }

  .card-content {
    padding: 0.8rem;

    .card-title {
      font-size: 1rem;
      font-weight: 400;
    }

    .card-info-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;

      .card-info-container {
        display: flex;
        align-items: center;

        .place-icon {
          font-size: 1rem;
          color: blue;
        }

        .rate-icon {
          font-size: 1rem;
          color: gold;
        }

        .card-rating, .card-city {
          font-size: 0.9rem;
          margin-left: 3px;
        }
      }
    }

    .card-description {
      font-size: 0.8rem;
      font-weight: 300;
    }

    .card-readmore {
      display: block;
      text-decoration: none;
      text-align: center;
      margin-top: 0.5rem;
      padding: 0.8rem;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/*
    Restaurant Detail
*/

.restaurant-detail-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height: 1.8;

  .restaurant-title {
    font-weight: 400;
    font-size: 1.2rem;
  }

  .restaurant-image {
    width: 100%;
    margin: 10px auto;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
  }

  .restaurant-info-wrapper {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;

    .restaurant-info-container {
      display: flex;
      align-items: center;

      .place-icon {
        color: blue;
        font-size: 1.2rem;
      }

      .rate-icon {
        color: $primary-color;
        font-size: 1.2rem;
      }

      .restaurant-info {
        margin-left: 8px;
        font-size: 0.9rem;
      }
    }
  }

  .menus-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .menus-container {
      display: flex;
      margin-bottom: 10px;

      .food-icon {
        color: red;
        font-size: 1.2rem;
        line-height: 1.5;
      }

      .drink-icon {
        color: green;
        font-size: 1.2rem;
        line-height: 1.5;
      }

      .menu-list {
        margin-left: 8px;
        font-size: 0.9rem;
      }
    }
  }

  .restaurant-description {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .restaurant-reviews-container {
    display: flex;
    flex-direction: column;

    .review-title {
      font-size: 1rem;
      margin: 5px 0;
    }

    .review-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 10px;
      background-color: mintcream;

      .review-name {
        color: dodgerblue;
      }

      .review-date {
        font-weight: 300;
        font-size: 0.7rem;
        color: #666;
      }

      .review-content {
        font-style: italic;
        font-size: 0.8rem;
      }
    }
  }

  .review-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    .form-title {
      grid-column: 1 / 4;
      font-size: 1rem;
    }

    .form-name-label, .form-review-label {
      grid-column-start: 1;
      font-size: 0.8rem;
    }

    .form-name-input, .form-review-input {
      grid-column: 1 / 4;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #ccc;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
    }

    .form-review-input {
      max-width: 100%;
    }

    .form-submit-button {
      grid-column-start: 3;
      grid-row-start: 7;
      background-color: lightgrey;
      color: #121212;
      border: none;
      padding: 15px;
      border-radius: 20px;
      transition: $transition-standard;

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}