$primary-color: #FEC840;
// $primary-color: #801336;
// $primary-color: skyblue;
$transition-standard: 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

@media screen and (min-width: 1280px) {

  /*
    Main Content
  */

  #mainContent {
    min-height: 90vh;
  }


  /*
    Restaurant Section
  */

  .restaurant-section {
    .restaurant-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  /*
    Card
  */

  .card-wrapper {
    .card-image {
      height: 200px;
    }
  }
}