$primary-color: #FEC840;
// $primary-color: #801336;
// $primary-color: skyblue;
$transition-standard: 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

@media screen and (min-width: 768px) {

  /*
    Top Navbar
  */

  header {
    justify-content: space-between;

    .brand-container {
      width: fit-content;
      padding-left: 1rem;

        .brand-name {
            font-size: 1.3rem;
        }
    } 

    .menu-button-container {
      display: none;
    }

    .topnav-container {
      display: flex;

      .topnav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 1rem 1.2rem;
        transition: $transition-standard;
  
        &:hover {
          cursor: pointer;
          background-color: rgba(0,0,0,0.1);
        }
  
        .material-icons {
          font-size: 1.2rem;
        }
      }
    }
  }


  /*
    Sidenav Mobile
  */

  .sidenav-mobile {
    display: none;
  }


  /*
    Main Content
  */

  #mainContent {
    min-height: 85vh;
  }

  .home-wrapper, 
  .restaurant-catalogue-wrapper, 
  .favorite-wrapper, 
  .restaurant-detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }


  /*
    Sidenav Desktop
  */

  .sidenav-desktop-container {
    grid-row-start: 1;
    grid-row-end: 999;

    .sidenav-desktop-wrapper {
      display: flex;
      flex-direction: column;
      margin: 15px 0 0 10px;
      position: sticky;
      top: 60px;
      border-radius: 20px;
  
      .sidenav-desktop-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        padding: 1rem;
        transition: $transition-standard;
        
        &:hover {
          color: $primary-color;
        }
  
        .sidenav-desktop-link-name {
          margin-left: 20px;
        }
      }
    }
  }


  /*
    Hero Section
  */

  .hero-wrapper {
    .hero-image {
      height: 300px;

      .hero-overlay {
        .hero-text-wrapper {
          .hero-text {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .home-fav-section {
    grid-column-start: 2;
  }


  /*
    Restaurant Section
  */

  .restaurant-section {
    .restaurant-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .section-navigate-link {
      margin: 10px 0;
    }
  }


  /*
    Restaurant Detail
  */

  .restaurant-detail-content {
    margin-top: 20px;
    padding: 0 10px;

    .restaurant-image {
      max-width: 768px;
    }
  }


  /*
    Bottom Navbar Mobile
  */

  #bottom-nav {
    display: none;
  }


  /*
    Footer Desktop
  */

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    
    .footer-text {
      color: #121212;
      font-size: 0.8rem;
    }  
  }
}