$primary-color: #FEC840;
$transition-standard: 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

@media screen and (min-width: 1440px) {
  
  /*
      Main Content
  */

  .home-wrapper, 
  .restaurant-catalogue-wrapper, 
  .favorite-wrapper, 
  .restaurant-detail-wrapper {
    grid-template-columns: 1fr 5fr;
  }
}