@media screen and (min-width: 1440px) {
  
  /*
    Sidenav Desktop
  */

  .sidenav-desktop-container {
    .sidenav-desktop-wrapper {
      margin: 20px 0 0 20px;
  
      .sidenav-desktop-link {
        padding: 18px;
        width: 200px;
      }
    }
  }


  /*
      Main Content
  */

  .home-wrapper, 
  .restaurant-catalogue-wrapper, 
  .favorite-wrapper, 
  .restaurant-detail-wrapper {
    grid-template-columns: 1fr 5fr;
  }

  .hero-wrapper, 
  .restaurant-section, 
  .loading-holder, 
  .restaurant-detail-content,
  .offline-indicator-container {
    grid-column: 2 / 5;
  }
}