@media screen and (min-width: 1024px) {
  /*
    Main Content
  */
  .home-wrapper, 
  .restaurant-catalogue-wrapper, 
  .favorite-wrapper, 
  .restaurant-detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .hero-wrapper, 
  .restaurant-section, 
  .loading-holder, 
  .restaurant-detail-content,
  .offline-indicator-container {
    grid-column: 2 / 4;
  }


  /*
    Hero Section
  */
  .hero-wrapper {
    .hero-image {
      object-fit: cover;
    }
  }

  
  /*
    Restaurant Section
  */
  .restaurant-section {
    .restaurant-list {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .section-navigate-link {
      .section-title {
        font-size: 1.1rem;
      }
    }
  }
}